{% extends 'base.html' %}

{% block title %}
Blog
{% endblock %}

{% block css_imports %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
<div class="book-cards">
    {% for book in books %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.isbn }}</h6>
            <p class="card-text">{{ book.author_id }}</p>
            <button data-book-delete="{{book.get('id')}}" class="btn btn-danger">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js_imports %}
<script src="{{url_for('static',filename='js/crud.js')}}"></script>
{% endblock %}
